$white: #ffffff;
$black: #000;
$bg: #f5f6f8;
$seashell: #e2e2e2;
$gray: #bec5c9;
$reef: #5c7080;
$shark: #1a1e22;
$overlay: rgba(26, 30, 34, 0.8);
$success: #019d90;
$say: #a4ded0;
$trigger: #ffe5b4;
$execute: #b0c4de;
$listen: #ffe699;
$prompt: #e2c7e0;
$standard: #000000;
$skill-call: #0000ff;
$bool: #8888e2;
$if-else: #febbad;
$lighthouse: #f66f48;
$focus-lighthouse: #e06542;
$hover-lighthouse: #f39c82;
$hover-lighthouse-30: #f9ddd5;
$ocean: #3276ea;
$hover-ocean: #cad7f5;
$red1: #a82a2a !default;
$red2: #c23030 !default;
$red3: #db3737 !default;
$red4: #f55656 !default;
$red5: #ff7373 !default;
$green1: #0a6640 !default;
$green2: #0d8050 !default;
$green3: #0f9960 !default;
$green4: #15b371 !default;
$green5: #3dcc91 !default;
