@use '~/src/scss/vendor/index.module' as *;
@use '~/src/scss/abstracts/index.module' as *;
@use '~/src/scss/base/index.module' as base;

.test {
  @extend %font-sm;
  color: $gray3;
  display: flex;
  padding: 8px 12px;
}
