node_modules/
dist
bin/
*.log

.parcel-cache
.cache
.git
.github
.vscode
coverage
storybook-static
build
doc
res
scripts
.editorconfig
.eslintrc.js
.gitignore
.prettierrc
.env
api.rest
CHANGELOG.md
README.md
benchmark.sh
.npmrc
.nvmrc

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/**/test
packages/**/dist

# Test files
jest.*
.test-data
test
