**/*.md
*.log
**/*.env
**/.parcel-cache
**/.cache
**/test
!packages/*/test
**/dist
**/story

.git
.github
.vscode
dist
docs
misc
.editorconfig
.eslintrc.js
.gitignore
.prettierrc
.nvmrc
Dockerfile

# Yarn 3 files
.pnp.*
.yarn
!.yarn/releases
!.yarn/plugins
