node_modules/
dist/
bin/
*.log
.parcel-cache
parcel-bundle-reports
.cache
coverage/
storybook-static/
build/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.test-data
test/cypress/videos
test/cypress/fixtures
test/cypress/screenshots
test/cypress/downloads
