@use '~/src/scss/style.scss' as *;
@use '../../shared/styles/layout.module.scss' as *;

// Triple class name required to overwrite Blueprintjs styles
// This is due to css specificity
.switch.switch.switch {
  @extend .leftBtn;
  margin: auto 0;
  width: min-content;
  cursor: pointer;

  &:hover {
    span {
      background: $cobalt4;
    }
  }

  input[type='checkbox'] {
    @extend %transition-all-75;

    &:checked ~ span {
      background: $cobalt3;

      &:hover {
        background: $cobalt4;
      }
    }

    &:focus ~ span {
      outline: 1px solid $cobalt4;
      outline-offset: 0.5px;
    }

    & ~ span {
      outline-width: 0px;
      background: $light-gray3;

      &:hover {
        background: $light-gray1;
      }
    }
  }
}
