@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as *;

.paneLayout {
  @extend %shadow-edge-md;
  max-height: inherit;
  background-color: $white;

  border-radius:8px;
  border: 1px solid $light-gray2;

  &.hide {
    display: none;
  }
}
