@use '../../../../../../scss/vendor/index.module' as vendor;

.dynamicBtn {
  cursor: pointer;
  color: vendor.$gray2;
  user-select: none;
  height: 16px;
  transition: all 75ms linear;

  &:hover {
    color: vendor.$gray4;
  }

  &[aria-active='true'] {
    color: #0070f7;

    &:hover {
      color: #3e93f9;
    }
  }
}
