.formKitContainer {
  display: flex;
  flex-direction: column;
}

.labelSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none;

  .leftBtn {
    margin: 0;
    flex-grow: 1;
  }

  .center {
    flex-grow: 4;
  }

  .rightBtn {
    flex-grow: 1;
  }
}
