@use '~/src/scss/vendor/index.module' as bp;
@use './variables.module' as *;

@mixin block-shadow($height, $transform, $border-color, $hover-color) {
  transition: all 75ms linear;
  box-shadow: 0px 1px 0px $border-color;
  border: 1px solid $border-color;
  // background-color: rgba($hover-color, 0.4);

  &:hover {
    box-shadow: 0px $height 0px $hover-color;

    transform: translateY(-$transform);
    border-color: $hover-color;
  }
}

@mixin block-shadow-smooth($height, $transform, $border-color) {
  transition: all 75ms linear;
  box-shadow: 0px 1px 0px $border-color, 0px -1px 0px 0px $border-color inset,
    0px 1px 1px 0px mix(black, $border-color, 60%);
  border: 1px solid $border-color;
  background-color: mix(white, $border-color, 90%);

  &:hover {
    box-shadow: 0px $height 0px $border-color, 0px -1px 0px $border-color inset,
      0px 2px 2px 0px mix(black, $border-color, 60%);
    transform: translateY(-$transform);
    border: 1px solid $border-color;
    background-color: white;
  }

  &:active {
    box-shadow: 0px 1px 0px $border-color, 0px -1px 0px 0px $border-color inset,
      0px 1px 1px 0px mix(black, $border-color, 60%);
    transform: translateY(0);
  }
}

@mixin tab-shadow($height, $transform, $border-color) {
  transition: all 75ms linear;
  box-shadow: 0px 1px 0px $border-color, 0px -1px 0px 0px $border-color inset, 1px 0.5px 0px 1px $border-color;
  border: 1px solid $border-color;
  background-color: white;
  transform: translateY(-1px);

  &:hover {
    box-shadow: 0px $height 0px $border-color, 0px -1px 0px 0px $border-color inset, 1px 1px 0px 1px $border-color;
    transition: all 75ms linear;
    transform: translateY(-2px);
    border: 1px solid $border-color;
    background-color: white;
  }

  &:active {
    color: bp.$cobalt4;
    border: 1px solid bp.$cobalt4;
    box-shadow: 0px 1px 0px $border-color, 0px -1px 0px 0px $border-color inset, 0.5px 0.5px 0px 1px $border-color;
    transform: translateY(-1px);
  }
}
