@use '../vendor/index.module' as *;
@use './variables.module' as *;

$themes: (
  light: (
    background-color: white,
    primary-text: $dark-gray2
  ),
  dark: (
    background-color: $dark-gray1,
    primary-text: $gray5
  )
);

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}
