// Font Sizes
$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 24px;
$font-2xl: 48px;
$font-3xl: 72px;

// Highlight Colors
$red-highlight3: #ffe6e6;
$red-highlight4: #fff6f7;
$bp-blue: #0070f7;
