// @import '../../../palette.scss';

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 4.32px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(33, 37, 41, 0.08), 0px 0px 1px 1px white, 0px 2px 20px -6px rgba(33, 37, 41, 0.15);
  border-radius: 8px;
  z-index: 50;
}

.section {
  width: 100%;
  padding: 14px;
  display: flex;
  flex-direction: column;
}

.sectionOutset {
  @extend .section;

  background: #ffffff;
  box-shadow: 0px 2px 20px -6px rgba(33, 37, 41, 0.08), 0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 8px;
}

.sectionInset {
  @extend .section;

  background: #f7f7f9;
  box-shadow: inset 0px 0px 6px -1px rgba(33, 37, 41, 0.15);
  border-radius: 8px;
}
