@import '@blueprintjs/core/lib/scss/variables';

.btn {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #0070f7;
  cursor: pointer;

  span {
    margin: auto;
    color: #0070f7;
    padding-bottom: 1px;
  }

  &:hover {
    background-color: #0070f7;
    span {
      color: #ffffff;
    }
  }

  &:active {
    background-color: #005dcf;
  }
}
