@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as bp;

.error {
  .list {
    border: 1px solid bp.$red3;
  }

  .listHeader {
    border: 1px solid bp.$red3;
    background-color: abstracts.$red-highlight3;

    p {
      color: bp.$red3;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 4px;
  row-gap: 6px;
  width: 100%;
  transition: all 75ms linear;
  background-color: bp.$light-gray5;
  border: 1px solid bp.$light-gray2;
}

.listHeader {
  @extend .shadow-sm;

  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 8px;
  column-gap: 8px;
  border-radius: 4px;
  border: 1px solid white;

  p {
    flex: 1;
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    color: bp.$dark-gray4;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  min-height: 34px;
  justify-content: flex-start;
  row-gap: 4px;
  padding: 4px;
  max-height: 224px;
  background-color: bp.$light-gray4;

  border-radius: 6px;
  // overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  @extend .shadow-inner;
}

.listItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 12px 8px 8px;
  height: 32px;
  border-radius: 4px;
  transition: all 50ms linear;
  column-gap: 8px;
  background-color: white;
  border: 1px solid white;

  &:hover {
    cursor: pointer;
    border: 1px solid abstracts.$bp-blue;
    @extend .shadow-sm;
  }

  .label {
    flex-grow: 1;
    font-weight: 400;
    font-size: 12px;
    color: bp.$dark-gray5;
    user-select: none;
  }

  span {
    flex: 1;
  }
}

.itemError {
  border: 1px solid bp.$red3;
  background-color: abstracts.$red-highlight4;
  .label {
    color: bp.$red3;
  }
  &:hover {
    background-color: abstracts.$red-highlight3;
  }
}

.placeholderText {
  font-style: italic;
  text-align: center;
  color: bp.$gray3;
  font-size: 12px;
  &:not(:only-child) {
    display: none;
  }
}
