@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as bp;

@import '@blueprintjs/core/lib/scss/variables';

.container {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  min-height: 38px;
  padding: 4px;
  padding-bottom: 0;
  background-color: bp.$light-gray4;
  @extend %shadow-inner-2;
}

// .draggable {
//   // height: 36px;
// }

.loading {
  margin: 20px;
}
