@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as bp;

@import '@blueprintjs/core/lib/scss/variables';

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 6px;
}

.block {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  height: 36px;
  width: 100%;
  padding: 4px;
  border-radius: 6px;
  align-items: center;
  color: bp.$gray1;
  background-color: white;
  overflow: hidden;

  @include abstracts.block-shadow-smooth(2px, 1px, bp.$gray5);

  &:hover {
    background-color: white;
    color: bp.$dark-gray4;
  }

  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none;

  &:hover {
    background-color: white;
    color: bp.$dark-gray4;
  }

  &-prompt {
    @extend .block;
    @include abstracts.block-shadow-smooth(2px, 1px, bp.$orange4);
  }

  &-simple {
    @extend .block;
    @include abstracts.block-shadow-smooth(2px, 1px, bp.$green4);
  }

  &-code {
    @extend .block;
    @include abstracts.block-shadow-smooth(2px, 1px, bp.$cobalt4);
  }

  &-complex {
    @extend .block;
    @include abstracts.block-shadow-smooth(2px, 1px, bp.$indigo4);
  }

  .name {
    @extend %font-md;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 8px;
  }
  .options {
    margin-left: auto;
  }

  &.grab {
    &:active {
      cursor: grabbing;
    }
  }

  &.temp {
    border: 1px dashed $dark-gray2;
  }

  &.dragging {
    border: 1px solid $gray3;
    border-radius: 5px;
    background-color: $gray3;

    * {
      visibility: hidden;
    }
  }
}

.blockTag {
  background-color: $blue3;
  margin-right: 8px;
  min-width: fit-content;

  ::first-letter {
    text-transform: capitalize;
  }

  &.content {
    background-color: $green2;
  }
  &.ask {
    background-color: $red2;
  }
  &.code {
    background-color: $blue2;
  }
  &.complex {
    background-color: $orange2;
  }
}

.hidden {
  visibility: hidden;
}
