.bp-send-button {
  margin-left: 5px;
}

.bp-messages-section {
  overflow: auto;
  height: 400px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.bp-messages-section table {
  margin-top: 0;
  margin-bottom: 0;
}
