@import '../../colors.scss';

.infoCard-container {
  display: grid;
  gap: 7.5px;
  padding: 2.5px;

  h5 {
    color: $ocean;
  }

  header {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: center;
    gap: 5px;
  }
}

a.infoCard-docsLink {
  color: $hover-ocean;
  &:hover {
    color: $ocean;
  }
}

.infoCard-type {
  color: $reef;
}

.infoCard-evals {
  display: grid;
  justify-content: start;
  justify-items: start;
}
