.test {
  width: 300px;
  height: 600px;
  background-color: white;
  position: absolute;
  top: 0;
  left: -320px;
}

.head {
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
