@import '~@blueprintjs/core/lib/scss/variables';

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  background-color: $light-gray5;
  border: 1px solid $gray4;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
}

.customDragLayer {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding: 8px;
}
