@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as bp;

@import '@blueprintjs/core/lib/scss/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-gray5;
  border: 1px solid $gray4;
  border-radius: 8px;
  padding: 8px;
}
