@use '../../../../../../scss/base/index.module' as base;
@import '@blueprintjs/core/lib/scss/variables';

.container {
  position: relative;
  width: fit-content;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none;
}

.optionDots {
  display: flex;
  color: #111418;
  padding: 6px 0;
  width: 18px;
  cursor: pointer;
  &:hover {
    color: #343b43;
  }
}

.options {
  @extend .shadow-lg;
  display: flex;
  flex-direction: column;
  right: 0;
  position: absolute;
  margin-top: 4px;
  padding: 4px;
  text-align: right;
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  // box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  border: 1px solid $light-gray3;
  gap: 4px;
  z-index: 100;

  span {
    width: 100%;
    padding: 4px 8px;
    text-align: left;
    border-radius: 4px;
    color: $dark-gray2;

    &:hover {
      cursor: pointer;
      background-color: $light-gray5;
    }
  }

  span.delete {
    font-weight: bold;
    color: red;
  }
}

// &:not(:last-child) {
//   border-bottom: 1px solid $gray5;
// }
