.container {
  box-sizing: border-box;
  width: 350px;
}
.inspector {
  box-sizing: border-box;
  min-height: 45px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.8rem;
  border-radius: 8px;
  gap: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.center {
  background-color: black;
}
